default: &default
  adapter: postgresql
  encoding: unicode
  password: 
  pool: <%= ENV.fetch("PG_POOL", 32) %>

development:
  <<: *default
  database: safe_bank_development

test:
  <<: *default
  database: safe_bank_test
